{{ define "urls"}}

<div class="flex-center">
    <div class="container-wider">
        <h1>
            httpbin(1): HTTP Request & Response Service
        </h1>

        <h2>ENDPOINTS</h2>

        {{ range $key := .URL_GROUP_CONFIG }}
            <h3>{{ $key }}</h3>
            <ul>
            {{ with (index $.URL_CONFIG $key) }}
                {{ range . }}
                    <li>
                        <code>{{ .Method }}</code>
                        <a href={{ .Url }} data-bare-link="true">
                            <code>{{ .Name }}</code>
                        </a> {{ .Desc | html }}
                    </li>
                {{ end }}
            {{ end }}
            </ul>
        {{ end }}
    </div>
</div>

{{ end }}
