{{ define "urls"}}

<div class="flex-center">
    <div class="container-wider">
        <h1>
            httpbin(1): HTTP Request & Response Service
        </h1>

        <h3>ENDPOINTS</h3>
        <ul>
            <li>
                <a href="/legancy"><code>/</code></a> This page.
            </li>
            <li>
                <a href="/ip"><code>/ip</code></a> Returns Origin IP.
            </li>
            <li>
                <a href="/uuid"><code>/uuid</code></a> Returns UUID4.
            </li>
            <li>
                <a href="/user-agent"><code>/user-agent</code></a> Returns
                user-agent.
            </li>
            <li><a href="/headers"><code>/headers</code></a> Returns header
                dict.
            </li>
            <li><a href="/get" data-bare-link="true"><code>/get</code></a> Returns GET data.</li>
            <li><a href="/base64/aGVsbG8gd29ybGQNCg=="><code>/base64/:value</code></a> Decodes base64url-encoded string.
            </li>
            <li><a href="/bytes/1024"><code>/bytes/:n</code></a> Generates <em>n</em> random bytes of
                binary data, accepts optional <em>seed</em> integer parameter.
            </li>
            <li><a href="/stream-bytes/20925?filename=data.bin"><code>/stream-bytes/:n</code></a> Streams <em>n</em> random bytes of
                binary data in chunked encoding, accepts optional <em>seed</em>, <em>filename</em> and <em>chunk_size</em> integer
                parameters.
            </li>

        </ul>
    </div>
</div>

{{ end }}
